@media screen and (max-width: 768px) {
    /* Styles for screens smaller than 768px (e.g., tablets) */
    .text_1 {
        margin: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    /* Styles for screens smaller than 480px (e.g., mobile phones) */
    .text_1 {
        margin: 5px;
        font-size: 12px;
    }
}

.container_1 {
    display: flex;
    flex-direction: row; /* Change to column on smaller screens */
}

@media screen and (max-width: 768px) {
    .container_1 {
        flex-direction: column;
    }
}
